<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="cnUserDao" class="com.loner.dubbo.dao.CnUserDao" />
	<!-- 和本地bean一样实现服务 -->
	<bean id="helloService" class="com.loner.dubbo.server.HelloServiceImpl">
		<property name="cnUserDao" ref="cnUserDao" />
		<property name="bankcodemap" ref="bankcodemap" />
	</bean>

	<bean id="bankcodemap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="bankCode" value="102" />
				<entry key="bankName" value="中国工商银行" />
			</map>
		</constructor-arg>
	</bean>

</beans>